h1 {
	font-family:verdana;
}

ul {
	background:#333;
	/*background:#80C31C; /* Cadec green from logo */
	color:#fff; 
	/*color:#000000;*/
	padding:10px 20px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	width:1000px;
}

ul li {
	list-style:none;
	font-family:verdana;
	font-size:56px;
}